#side-menu {
    color: #fff;
    width: 300px;
    background-color: #2c3e50;
    position: absolute;
    /* left:-300px; */
    height: 94%;
    left: 0;
    z-index: 9998;
    bottom: 0;
}

#side-menu h1 {
    padding: 0px 0px 10px 5px;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid #ecf0f1;
}

#side-menu ul {
    padding: 0;
    list-style-type: none;
}

#side-menu ul li {
    font-size: 20px;
    font-weight: 300;
    padding: 10px 5px;
}

#search-bus {
    height: 25vh;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

#buses {
    height: 25vh;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

#noBus{
    text-align: center;
}

#noBus h2{
    font-size: 15px;
}

#noBus h3{
    font-size: 12px;
}

#search-bus  div ul{
    padding: 10px;
}

#search-bus  div ul li{
    display: inline;
}

#search-bus  div ul li img{
    float: right;
}

#buses  div ul{
    padding: 10px;
}

#buses  div ul li{
    display: inline;
}

#buses  div ul li img{
    float: right;
}


.sid-menu-main:hover {
    background-color: #34495e;
    cursor: pointer;
}


#side-links-bottom {
    width: 270px;
    position: absolute;
    bottom: 0;
}

#side-links-bottom li {
    width: 270px;
}

.sidebar-icons {
    margin-top: -5px;
    width: 25px;
    height: 25px;
}

